In [550]:
import pandas as pd
import numpy as np
import geopy
import tqdm

In [552]:
print("pandas version:", pd.__version__)
print("numpy version:", np.__version__)
print("tqdm version:", tqdm.__version__)
print("geopy version:", geopy.__version__)

pandas version: 1.5.3
numpy version: 1.25.1
tqdm version: 4.65.0
geopy version: 2.3.0

# Inside Airbnb Listings Dataframe

In [ ]:
# data path to datasets
data_path = '[insert path to csv file here]'

In [436]:
# Read in listings.csv file from InsideAirbnb from Austin,TX
inside_airbnb_listings = pd.read_csv(data_path + 'listings.csv')

In [437]:
'''
This file includes the listings data for all listings in Austin, TX. According to the documentation on their website,
this data was scraped between the two days of 2023-03-16 and 2023-03-17. 
The price column reflects the price on those particular days.
The dataframe has 14,368 listings with 75 columns of information.

'''

inside_airbnb_listings

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,5456,https://www.airbnb.com/rooms/5456,20230316044216,2023-03-16,city scrape,"Walk to 6th, Rainey St and Convention Ctr",Great central location for walking to Convent...,My neighborhood is ideally located if you want...,https://a0.muscache.com/pictures/14084884/b5a3...,8028,...,4.82,4.73,4.79,NaN,f,2,2,0,0,3.69
1,5769,https://www.airbnb.com/rooms/5769,20230316044216,2023-03-16,previous scrape,NW Austin Room,<b>The space</b><br />Looking for a comfortabl...,Quiet neighborhood with lots of trees and good...,https://a0.muscache.com/pictures/23822033/ac94...,8186,...,4.94,4.76,4.92,NaN,f,1,0,1,0,1.75
2,6413,https://www.airbnb.com/rooms/6413,20230316044216,2023-03-16,previous scrape,Gem of a Studio near Downtown,"Great studio apartment, perfect a single perso...",Travis Heights is one of the oldest neighborho...,https://a0.muscache.com/pictures/miso/Hosting-...,13879,...,4.98,4.87,4.93,NaN,f,1,1,0,0,0.76
3,6448,https://www.airbnb.com/rooms/6448,20230316044216,2023-03-16,city scrape,"Secluded Studio @ Zilker - King Bed, Bright & ...","Clean, private space with everything you need ...",The neighborhood is fun and funky (but quiet)!...,https://a0.muscache.com/pictures/4513152/4ffc1...,14156,...,4.97,4.97,4.90,NaN,t,1,1,0,0,2.10
4,8502,https://www.airbnb.com/rooms/8502,20230316044216,2023-03-17,city scrape,Woodland Studio Lodging,Studio rental on lower level of home located i...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,25298,...,4.86,4.64,4.57,NaN,f,1,1,0,0,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14363,847159076072987428,https://www.airbnb.com/rooms/847159076072987428,20230316044216,2023-03-17,city scrape,Central Austin Bungalow!,"This is a 4 bedroom, 2 bathroom condo in the h...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,276920863,...,NaN,NaN,NaN,NaN,t,41,41,0,0,NaN
14364,847171709264672413,https://www.airbnb.com/rooms/847171709264672413,20230316044216,2023-03-17,city scrape,Fresh Austin Studio Apartment!,Keep it simple at this peaceful and centrally-...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,276920863,...,NaN,NaN,NaN,NaN,t,41,41,0,0,NaN
14365,847178203609366885,https://www.airbnb.com/rooms/847178203609366885,20230316044216,2023-03-16,city scrape,Quaint Austin Condo!,"In the heart of Central Austin, you can't go w...",NaN,https://a0.muscache.com/pictures/537356ed-2938...,276920863,...,NaN,NaN,NaN,NaN,t,41,41,0,0,NaN
14366,847256590826352221,https://www.airbnb.com/rooms/847256590826352221,20230316044216,2023-03-16,city scrape,NEW! Aqua Azul Outdoors - Near Lake Travis,"Escape to our charming home, just a stone's th...","About 20 miles northwest of downtown Dustin, H...",https://a0.muscache.com/pictures/prohost-api/H...,499116561,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
14367,847304715126157738,https://www.airbnb.com/rooms/847304715126157738,20230316044216,2023-03-16,city scrape,"Modern, Clean 1B w/Comfy Queen Beds, Gym,Fast ...",Stop your search now because you have just fou...,"Riverside, also known as East Riverside-Oltorf...",https://a0.muscache.com/pictures/prohost-api/H...,243684594,...,NaN,NaN,NaN,NaN,f,62,62,0,0,NaN

In [438]:
print('The shape of this dataframe is', inside_airbnb_listings.shape)

The shape of this dataframe is (14368, 75)

# Listings.csv Data Exploration

In [439]:
# Check to realize how many unique listings there are on the raw file.
inside_airbnb_listings['id'].nunique()

14368

In [441]:
# Check to realize the NaN value counts per column.
inside_airbnb_listings.isnull().sum().to_dict()

{'id': 0,
 'listing_url': 0,
 'scrape_id': 0,
 'last_scraped': 0,
 'source': 0,
 'name': 0,
 'description': 130,
 'neighborhood_overview': 5600,
 'picture_url': 1,
 'host_id': 0,
 'host_url': 0,
 'host_name': 2,
 'host_since': 2,
 'host_location': 2063,
 'host_about': 5363,
 'host_response_time': 3793,
 'host_response_rate': 3793,
 'host_acceptance_rate': 3189,
 'host_is_superhost': 5,
 'host_thumbnail_url': 2,
 'host_picture_url': 2,
 'host_neighbourhood': 1831,
 'host_listings_count': 2,
 'host_total_listings_count': 2,
 'host_verifications': 0,
 'host_has_profile_pic': 2,
 'host_identity_verified': 2,
 'neighbourhood': 5600,
 'neighbourhood_cleansed': 0,
 'neighbourhood_group_cleansed': 14368,
 'latitude': 0,
 'longitude': 0,
 'property_type': 0,
 'room_type': 0,
 'accommodates': 0,
 'bathrooms': 14368,
 'bathrooms_text': 16,
 'bedrooms': 761,
 'beds': 138,
 'amenities': 0,
 'price': 0,
 'minimum_nights': 0,
 'maximum_nights': 0,
 'minimum_minimum_nights': 1,
 'maximum_minimum_nights': 1,
 'minimum_maximum_nights': 1,
 'maximum_maximum_nights': 1,
 'minimum_nights_avg_ntm': 1,
 'maximum_nights_avg_ntm': 1,
 'calendar_updated': 14368,
 'has_availability': 0,
 'availability_30': 0,
 'availability_60': 0,
 'availability_90': 0,
 'availability_365': 0,
 'calendar_last_scraped': 0,
 'number_of_reviews': 0,
 'number_of_reviews_ltm': 0,
 'number_of_reviews_l30d': 0,
 'first_review': 3031,
 'last_review': 3031,
 'review_scores_rating': 3031,
 'review_scores_accuracy': 3099,
 'review_scores_cleanliness': 3099,
 'review_scores_checkin': 3100,
 'review_scores_communication': 3099,
 'review_scores_location': 3101,
 'review_scores_value': 3101,
 'license': 14368,
 'instant_bookable': 0,
 'calculated_host_listings_count': 0,
 'calculated_host_listings_count_entire_homes': 0,
 'calculated_host_listings_count_private_rooms': 0,
 'calculated_host_listings_count_shared_rooms': 0,
 'reviews_per_month': 3031}

In [442]:
# Amount of neighbourhoods in dataframe
inside_airbnb_listings['host_neighbourhood'].value_counts().count()

# Too many to add to analysis

630

In [443]:
# Zip Codes
inside_airbnb_listings['neighbourhood_cleansed'].value_counts().count()

# Perhaps too many to add to analysis
# Thought is to keep below a hundred or it will work against us

44

In [445]:
inside_airbnb_listings['property_type'].value_counts()
# Perhaps too many to add to analysis

Entire home                        5205
Entire rental unit                 2987
Private room in home               1552
Entire condo                       1314
Entire guesthouse                   656
                                   ...
Shared room in townhouse              1
Private room in casa particular       1
Shared room in guest suite            1
Tipi                                  1
Shared room in camper/rv              1
Name: property_type, Length: 70, dtype: int64

# Listings.csv Preprocessing

In [446]:
'''
The listing dataframe has lots of columns that are not valuable for the model. Those will be removed. 
Of the dataframe, several columns are of value but not in a quantiative format. 

The preprocessing steps are to convert various columns into quanatative values and remove excess information.
'''

'\nThe listing dataframe has lots of columns that are not valuable for the model. Those will be removed. \nOf the dataframe, several columns are of value but not in a quantiative format. \n\nThe preprocessing steps are to convert various columns into quanatative values and remove excess information.\n'

# Listings.csv Preprocessing: Amenities

In [447]:
# Each listing has an amenities column that includes a string of words & phrases that we want to convert to lists
amenities_list = inside_airbnb_listings['amenities'].to_list()

In [449]:
# Create a combined amenities list for all unique amenities across all Austin Airbnbs
comb_amenities = []
for i in amenities_list:
    comb_amenities += eval(i)

In [451]:
# There are too many amenities. Below we find the top 30 amenities across all airbnbs and use those.
from collections import Counter

counts = Counter(comb_amenities)
top30 = pd.Series(counts).sort_values(ascending = False).head(30).index

In [452]:
# These are the top 30 most popular amenities across all Austin airbnb listings
top30

Index(['Smoke alarm', 'Kitchen', 'Wifi', 'Essentials',
       'Free parking on premises', 'Carbon monoxide alarm', 'Hair dryer',
       'Hangers', 'Fire extinguisher', 'Iron', 'Shampoo',
       'Dishes and silverware', 'Hot water', 'Refrigerator', 'Heating',
       'Air conditioning', 'Cooking basics', 'Microwave', 'Self check-in',
       'Bed linens', 'First aid kit', 'Washer', 'Dedicated workspace',
       'Dishwasher', 'TV', 'Private entrance', 'Extra pillows and blankets',
       'Free street parking', 'Coffee maker', 'Oven'],
      dtype='object')

In [453]:
# Establish a new Amenities column and add to the dataframe
inside_airbnb_listings['amenities2'] = inside_airbnb_listings['amenities'].apply(lambda x: eval(x))
inside_airbnb_listings['amenities2']

0        [Heating, Backyard, Bed linens, Hot water, Sha...
1        [Private backyard, Free parking on premises, O...
2        [Heating, Outdoor dining area, Dove body soap,...
3        [Pack ’n play/Travel crib, Free parking on pre...
4        [Essentials, Heating, Central air conditioning...
                               ...
14363    [Washer, Fire extinguisher, Free parking on pr...
14364    [Heating, Bed linens, Dishwasher, Hot water, B...
14365    [Free parking on premises, Heating, Bed linens...
14366    [Free parking on premises, Heating, Bed linens...
14367    [Free parking on premises, Heating, Backyard, ...
Name: amenities2, Length: 14368, dtype: object

In [454]:
# Create a column for the dataframe with either a '1' or '0' of if the listing has a smoke alarm 
# Based on the amenities tab

inside_airbnb_listings['smoke alarm'] = inside_airbnb_listings['amenities2'].apply(lambda x: int('Smoke alarm' in x))
# inside_airbnb_listings

In [455]:
# Doing the same as above but now for all the amenities in the top20 list that was created

for i in top30:
    inside_airbnb_listings[i] = inside_airbnb_listings['amenities2'].apply(lambda x: int(i in x))

# Note: Check if this makes a duplicate column for smoke alarm 0/1

In [456]:
# Add a column for how many of the top30 amenities each listing has
inside_airbnb_listings['Number of Amenities'] = inside_airbnb_listings['amenities2'].str.len()

# Listings.csv Preprocessing: Property Types

In [457]:
'''

Changing property_type column to a full numerical list

'''

'\nPerforming the same process as we did for amenities except for the property types. There are 70 unique property types,\neverything from entire home to Yurts and Teepees, so we will change it up to the most popular options.\n\nScratch that - changing the full list to numerical values. \n'

In [460]:
# Unique options in the column
print('Unique values in property_types =', inside_airbnb_listings['property_type'].value_counts().count())

unique_options = inside_airbnb_listings['property_type'].unique()

inside_airbnb_listings['property_type_num'] = pd.factorize(inside_airbnb_listings['property_type'])[0]

Unique values in property_types = 70

In [462]:
# All the property types are set up with numerical values
inside_airbnb_listings['property_type_num']

0        0
1        1
2        0
3        0
4        2
        ..
14363    7
14364    7
14365    7
14366    3
14367    7
Name: property_type_num, Length: 14368, dtype: int64

# Listings.csv Preprocessing: Condensed Dataframe

In [463]:
# Establish new dataframe with features of interest 
inside_air_listing_final = inside_airbnb_listings[['id', 'host_id', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_listings_count', 'host_total_listings_count', 'neighbourhood_cleansed', 'latitude', 'longitude', 'accommodates', 'bedrooms', 'beds', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'reviews_per_month', 'host_since', 'room_type', 'property_type_num', 'Number of Amenities'] + list(top30)]

# Listings.csv Preprocessing: Locational Distance Feature Addons

In [464]:
'''
In this section, a locational-based feature is added on. Using the longitude and latitude of each airbnb provided, 
the distance from locations of interest is added for each listing. 
Locations of interest include the Texas Capitol, ... MORE TO BE ADDED
Their locations are sourced from GoogleMaps and then the distance from each listing to the locations of interest
are calculated to be then added on as a feature column for analysis. 
'''

'\nIn this section, a locational-based feature is added on. Using the longitude and latitude of each airbnb provided, \nthe distance from locations of interest is added for each listing. \nLocations of interest include the Texas Capitol, ... MORE TO BE ADDED\nTheir locations are sourced from GoogleMaps and then the distance from each listing to the locations of interest\nare calculated to be then added on as a feature column for analysis. \n'

In [465]:
# Make latitude^2 and longitude^2 columns for distance-based feature

inside_air_listing_final['latitudesq'] = inside_air_listing_final['latitude'] * inside_air_listing_final['latitude']
inside_air_listing_final['longitudesq'] = inside_air_listing_final['longitude'] * inside_air_listing_final['longitude']

C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\3374846277.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['latitudesq'] = inside_air_listing_final['latitude'] * inside_air_listing_final['latitude']
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\3374846277.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['longitudesq'] = inside_air_listing_final['longitude'] * inside_air_listing_final['longitude']

In [466]:
from geopy.distance import geodesic

In [467]:
# Coordinates sourced from GoogleMaps - lat, long

# Texas Capitol coords 
t_cap = (30.27494739275662, -97.74038005499503)

# Barton Spring coords 
barton_springs = (30.264313040205653, -97.77130428958358)

# Lyndon B. Johnson Library & Museum
lyndon_library = (30.285932343275405, -97.72918194747368)

# Bullock State Museum 
bullock = (30.280420360552085, -97.73904724562665)

# Ann W. Richards Congress Bridge
congress_bridge = (30.262679277470813, -97.74476043398026)

# Zilker Metro Park
zilker = (30.26742874371506, -97.772938709499)

# University of Texas Tower
ut_tower = (30.28639177754446, -97.73941402320536)

# DKR Stadium UT Football
dkr_stadium = (30.283675939587837, -97.73240276590948)

# Mexic-Arte Museum
mex_arte = (30.26697300377302, -97.74270657261515)

# McKinney State Park
mckinney = (30.193317823399394, -97.72431871269195)

# Umlauf Sculpture Garden and Museum
umlauf = (30.263499208682216, -97.76621997630959)

# Mount Bonnell
bonnell = (30.321843891816012, -97.77289219659404)

# Museum of the Weird
museum_weird = (30.267176641146776, -97.73873437630948)

# Sourced these 'top options' from https://www.planetware.com/tourist-attractions-/austin-us-tx-a.htm

In [468]:
# Add a column including the listing's distance to the Texas Capitol in KM
 
inside_air_listing_final['t_cap'] = inside_air_listing_final.apply(lambda z: geodesic(t_cap, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['barton_springs'] = inside_air_listing_final.apply(lambda z: geodesic(barton_springs, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['bullock'] = inside_air_listing_final.apply(lambda z: geodesic(bullock, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['congress_bridge'] = inside_air_listing_final.apply(lambda z: geodesic(congress_bridge, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['zilker'] = inside_air_listing_final.apply(lambda z: geodesic(zilker, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['ut_tower'] = inside_air_listing_final.apply(lambda z: geodesic(ut_tower, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['dkr_stadium'] = inside_air_listing_final.apply(lambda z: geodesic(dkr_stadium, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['mex_arte'] = inside_air_listing_final.apply(lambda z: geodesic(mex_arte, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['mckinney'] = inside_air_listing_final.apply(lambda z: geodesic(mckinney, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['umlauf'] = inside_air_listing_final.apply(lambda z: geodesic(umlauf, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['bonnell'] = inside_air_listing_final.apply(lambda z: geodesic(bonnell, (z.latitude, z.longitude)).km, axis=1)
inside_air_listing_final['museum_weird'] = inside_air_listing_final.apply(lambda z: geodesic(museum_weird, (z.latitude, z.longitude)).km, axis=1)

C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['t_cap'] = inside_air_listing_final.apply(lambda z: geodesic(t_cap, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['barton_springs'] = inside_air_listing_final.apply(lambda z: geodesic(barton_springs, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['bullock'] = inside_air_listing_final.apply(lambda z: geodesic(bullock, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['congress_bridge'] = inside_air_listing_final.apply(lambda z: geodesic(congress_bridge, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['zilker'] = inside_air_listing_final.apply(lambda z: geodesic(zilker, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['ut_tower'] = inside_air_listing_final.apply(lambda z: geodesic(ut_tower, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['dkr_stadium'] = inside_air_listing_final.apply(lambda z: geodesic(dkr_stadium, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['mex_arte'] = inside_air_listing_final.apply(lambda z: geodesic(mex_arte, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['mckinney'] = inside_air_listing_final.apply(lambda z: geodesic(mckinney, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['umlauf'] = inside_air_listing_final.apply(lambda z: geodesic(umlauf, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['bonnell'] = inside_air_listing_final.apply(lambda z: geodesic(bonnell, (z.latitude, z.longitude)).km, axis=1)
C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\2416047065.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['museum_weird'] = inside_air_listing_final.apply(lambda z: geodesic(museum_weird, (z.latitude, z.longitude)).km, axis=1)

In [469]:
# Review scores for location - fix NaNs. Nearest Neighbors on 10 closest locations
# review_scores_location
from tqdm import tqdm

inside_air_listing_final['review_score_location_original'] = inside_air_listing_final['review_scores_location']
null_df_scores = inside_air_listing_final.loc[inside_air_listing_final['review_scores_location'].isnull()]

for i, location in tqdm(null_df_scores.iterrows(), total=null_df_scores.shape[0]):
    temp_dist_col = inside_air_listing_final.apply(lambda z: geodesic((location.latitude, location.longitude), (z.latitude, z.longitude)).km, axis=1)
    inside_air_listing_final_copy = inside_air_listing_final.copy()
    inside_air_listing_final_copy['temp_dist_col'] = temp_dist_col
    inside_air_listing_final_copy.sort_values('temp_dist_col', inplace=True) # default ascending
    temp_mean_val = inside_air_listing_final_copy['review_score_location_original'].dropna().reset_index()[:10].mean()

    inside_air_listing_final.loc[i, 'review_scores_location'] = temp_mean_val.iloc[1]
    

# Takes about 2 - 3 hours to run. Exported to .csv for ease.

C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\188535991.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inside_air_listing_final['review_score_location_original'] = inside_air_listing_final['review_scores_location']
100%|██████████| 3101/3101 [2:21:05<00:00,  2.73s/it]

In [470]:
'''
This is the start of code to replace the cell above. The goal is to add in a check for if a location is over 'X'
distance from its nearest neighbors. It is not logical to base the location review score on a listing when the nearest
neighbors are a significant distance away. Deciding a suitable distance for this is left to do.


This is included in the future plans.
'''

# # Edit Block for location relativity

# # Review scores for location - fix NaNs. Nearest Neighbors on 10 closest locations
# # review_scores_location
# from tqdm import tqdm

# # inside_air_listing_final['review_score_location_original'] = inside_air_listing_final['review_scores_location']
# null_df_scores = inside_air_listing_final.loc[inside_air_listing_final['review_scores_location'].isnull()]

# dist_vals_array = np.zeros((null_df_scores.shape[0], 10))
# j = 0
# for i, location in tqdm(null_df_scores.iterrows(), total=null_df_scores.shape[0]):
#     temp_dist_col = inside_air_listing_final.apply(lambda z: geodesic((location.latitude, location.longitude), (z.latitude, z.longitude)).km, axis=1)
#     inside_air_listing_final_copy = inside_air_listing_final.copy()
#     inside_air_listing_final_copy['temp_dist_col'] = temp_dist_col
#     inside_air_listing_final_copy.sort_values('temp_dist_col', inplace=True) # default ascending
    
#     temp_mean_val = inside_air_listing_final_copy['temp_dist_col'].dropna().reset_index()[:10].to_numpy()[:, 1]
#     dist_vals_array[j, :] = temp_mean_val
#     j += 1
    
#     # Comment out before running - lines 23 & 24
# #     if j >= 5: 
# #         break 
# #     inside_air _listing_final.loc[i, 'review_scores_location'] = temp_mean_val.iloc[1]
    
# pd.DataFrame(dist_vals_array).to_csv('temp_loc_trial.csv')
# # Takes about 2 - 3 hours to run. Exported to .csv for ease.
# # Need to factor in when properties has neighbors that are over X distance

# temp = pd.read_csv('temp_loc_trial.csv')
# temp

In [472]:
inside_air_listing_final_copy['review_scores_location'].dropna().reset_index()[:10]

   index  review_scores_location
0  11145                   4.800
1   9764                   4.470
2   3434                   4.686
3   9921                   4.650
4   8929                   4.930
5   9774                   4.650
6  10310                   4.430
7  13555                   4.735
8   4514                   4.820
9   8930                   4.830

In [475]:
 # Save to CSV for ease 
inside_air_listing_final.to_csv('inside_air_locations_final.csv')

In [476]:
listings = pd.read_csv('inside_air_locations_final.csv')

In [477]:
listings

,Unnamed: 0,id,host_id,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,neighbourhood_cleansed,latitude,...,congress_bridge,zilker,ut_tower,dkr_stadium,mex_arte,mckinney,umlauf,bonnell,museum_weird,review_score_location_original
0,0,5456,8028,100%,95%,t,2.0,4.0,78702,30.260570,...,1.023123,3.784773,2.902738,2.568727,1.068293,7.518350,3.078306,7.736014,0.842357,4.73
1,1,5769,8186,100%,95%,t,1.0,4.0,78729,30.456970,...,21.870295,21.040242,19.394360,19.846377,21.437543,29.790235,21.517583,15.019458,21.489800,4.76
2,2,6413,13879,NaN,100%,t,1.0,1.0,78704,30.248850,...,1.755661,4.119188,4.175717,3.875087,2.114043,6.255722,3.341911,8.841143,2.050248,4.87
3,3,6448,14156,100%,100%,t,1.0,2.0,78704,30.260340,...,1.952488,1.104724,3.786846,4.056119,2.255989,8.392934,0.373538,6.861699,2.626745,4.97
4,4,8502,25298,60%,70%,f,1.0,1.0,78741,30.234660,...,3.198756,5.027891,5.740252,5.450354,3.626637,4.738443,4.269364,10.269241,3.609392,4.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14363,14363,847159076072987428,276920863,95%,100%,f,43.0,88.0,78705,30.289220,...,2.952128,3.454855,0.818137,1.556689,2.505015,10.858465,3.384552,4.376586,2.577955,NaN
14364,14364,847171709264672413,276920863,95%,100%,f,43.0,88.0,78705,30.290238,...,3.076176,3.452864,0.972610,1.711054,2.638627,10.993428,3.419499,4.216769,2.723711,NaN
14365,14365,847178203609366885,276920863,95%,100%,f,43.0,88.0,78705,30.287227,...,3.231786,4.965817,1.232195,0.679768,2.725863,10.412841,4.628229,5.875228,2.508800,NaN
14366,14366,847256590826352221,499116561,100%,100%,f,2.0,2.0,78734,30.381710,...,23.972148,21.445336,23.085583,23.823123,23.880038,30.325022,22.224331,18.531970,24.192330,NaN
14367,14367,847304715126157738,243684594,98%,96%,f,68.0,128.0,78741,30.239426,...,3.290957,5.680855,5.426933,4.979595,3.569462,5.111990,4.901363,10.298447,3.407719,NaN

In [478]:
listings = listings['review_scores_location']

In [480]:
# Merge the dataframes to add in the locational replacements
inside_air_listing_loc_merge = pd.merge(inside_air_listing_final, listings, left_index=True, right_index=True, how='inner')

In [482]:
# Remove duplicate columns 

remove_loc = ['review_scores_location_x']
inside_air_listing_loc_merge = inside_air_listing_loc_merge.drop(columns=remove_loc)
inside_air_listing_loc_merge = inside_air_listing_loc_merge.rename(columns= {'review_scores_location_y' : 'review_scores_location'})

In [543]:
# inside_air_listing_loc_merge

In [484]:
# Rename columns from merge
inside_air_listing_loc_merge = inside_air_listing_loc_merge.rename(columns= {'review_scores_location_y' : 'review_scores_location'})

In [486]:
inside_air_listing_loc_merge.nunique()

id                                14368
host_id                            8625
host_response_rate                   49
host_acceptance_rate                 84
host_is_superhost                     2
                                  ...
umlauf                            13945
bonnell                           13945
museum_weird                      13945
review_score_location_original      129
review_scores_location              876
Length: 86, dtype: int64

# Listings.csv: Beds column edit

In [489]:
'''
Beds column has just over a hundred NaN values
This section is to resolve this issue
Due to the small ammount of NaNs, manual research of each individual Airbnb listing to find the bed counts was done 
The results were saved onto the .csv file - 'listings_bedrooms' - which is merged below
'''

"\nBeds column has just over a hundred NaN values\nThis section is to resolve this issue\nDue to the small ammount of NaNs, manual research of each individual Airbnb listing to find the bed counts was done \nThe results were saved onto the .csv file - 'listings_bedrooms' - which is merged below\n"

In [490]:
# Pass in raw listings file
listings_temp = pd.read_csv('listings_insideairbnb.csv')

In [492]:
# Excel zero-ed the ids so an additional merge is included below to circumvent this issue
bed_info = pd.read_csv('listings_bedrooms.csv')

In [493]:
bed_info.columns

Index(['id', 'listing_url', 'beds'], dtype='object')

In [494]:
# 17 listings provided no information to their bed counts
bed_info.isnull().sum().to_dict()

{'id': 0, 'listing_url': 0, 'beds': 17}

In [495]:
bed_info = bed_info[['listing_url', 'beds']]

In [496]:
bed_info = bed_info.rename(columns = {'beds':'updated_beds'})

In [497]:
bed_info

                                           listing_url  updated_beds
0                https://www.airbnb.com/rooms/36172188         132.0
1                https://www.airbnb.com/rooms/28466259          61.0
2                https://www.airbnb.com/rooms/28463789          39.0
3                https://www.airbnb.com/rooms/15665823          36.0
4                https://www.airbnb.com/rooms/46010410          26.0
...                                                ...           ...
14363  https://www.airbnb.com/rooms/811145863352252309           5.0
14364  https://www.airbnb.com/rooms/811148816301434481           5.0
14365  https://www.airbnb.com/rooms/811154636754995673           5.0
14366  https://www.airbnb.com/rooms/834072988781055677          12.0
14367  https://www.airbnb.com/rooms/841380979307790669           NaN

[14368 rows x 2 columns]

In [499]:
bed_info = bed_info.merge(listings_temp[['id', 'listing_url']], on='listing_url')
bed_info

,listing_url,updated_beds,id
0,https://www.airbnb.com/rooms/36172188,132.0,36172188
1,https://www.airbnb.com/rooms/28466259,61.0,28466259
2,https://www.airbnb.com/rooms/28463789,39.0,28463789
3,https://www.airbnb.com/rooms/15665823,36.0,15665823
4,https://www.airbnb.com/rooms/46010410,26.0,46010410
...,...,...,...
14363,https://www.airbnb.com/rooms/811145863352252309,5.0,811145863352252309
14364,https://www.airbnb.com/rooms/811148816301434481,5.0,811148816301434481
14365,https://www.airbnb.com/rooms/811154636754995673,5.0,811154636754995673
14366,https://www.airbnb.com/rooms/834072988781055677,12.0,834072988781055677
14367,https://www.airbnb.com/rooms/841380979307790669,NaN,841380979307790669

In [500]:
bed_info = bed_info[['id', 'updated_beds']]

In [501]:
inside_air_listing_loc_merge = pd.merge(inside_air_listing_loc_merge, bed_info, on='id')

In [502]:
inside_air_listing_loc_merge

,id,host_id,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,neighbourhood_cleansed,latitude,longitude,...,ut_tower,dkr_stadium,mex_arte,mckinney,umlauf,bonnell,museum_weird,review_score_location_original,review_scores_location,updated_beds
0,5456,8028,100%,95%,t,2.0,4.0,78702,30.260570,-97.734410,...,2.902738,2.568727,1.068293,7.518350,3.078306,7.736014,0.842357,4.73,4.730,2.0
1,5769,8186,100%,95%,t,1.0,4.0,78729,30.456970,-97.784220,...,19.394360,19.846377,21.437543,29.790235,21.517583,15.019458,21.489800,4.76,4.760,1.0
2,6413,13879,NaN,100%,t,1.0,1.0,78704,30.248850,-97.735870,...,4.175717,3.875087,2.114043,6.255722,3.341911,8.841143,2.050248,4.87,4.870,1.0
3,6448,14156,100%,100%,t,1.0,2.0,78704,30.260340,-97.764870,...,3.786846,4.056119,2.255989,8.392934,0.373538,6.861699,2.626745,4.97,4.970,2.0
4,8502,25298,60%,70%,f,1.0,1.0,78741,30.234660,-97.736820,...,5.740252,5.450354,3.626637,4.738443,4.269364,10.269241,3.609392,4.64,4.640,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14363,847159076072987428,276920863,95%,100%,f,43.0,88.0,78705,30.289220,-97.747269,...,0.818137,1.556689,2.505015,10.858465,3.384552,4.376586,2.577955,NaN,4.896,5.0
14364,847171709264672413,276920863,95%,100%,f,43.0,88.0,78705,30.290238,-97.748501,...,0.972610,1.711054,2.638627,10.993428,3.419499,4.216769,2.723711,NaN,4.610,1.0
14365,847178203609366885,276920863,95%,100%,f,43.0,88.0,78705,30.287227,-97.726643,...,1.232195,0.679768,2.725863,10.412841,4.628229,5.875228,2.508800,NaN,4.387,3.0
14366,847256590826352221,499116561,100%,100%,f,2.0,2.0,78734,30.381710,-97.952860,...,23.085583,23.823123,23.880038,30.325022,22.224331,18.531970,24.192330,NaN,4.844,4.0
14367,847304715126157738,243684594,98%,96%,f,68.0,128.0,78741,30.239426,-97.723503,...,5.426933,4.979595,3.569462,5.111990,4.901363,10.298447,3.407719,NaN,4.716,2.0

In [503]:
(inside_air_listing_loc_merge['beds'] == inside_air_listing_loc_merge['updated_beds']).sum()

14230

In [504]:
inside_air_listing_loc_merge['beds'] = inside_air_listing_loc_merge['updated_beds']
inside_air_listing_loc_merge.drop(columns=['updated_beds'], inplace=True)

In [505]:
inside_air_listing_loc_merge['beds'].isnull().sum()

17

In [506]:
# pd.set_option('display.max_columns', None)

# Listings.csv Preprocessing: Clean Dataframe

In [507]:
inside_air_listing_loc_merge.info()
# Potential columns to add: host verifications, bathrooms_text

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14368 entries, 0 to 14367
Data columns (total 86 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14368 non-null  int64
 1   host_id                         14368 non-null  int64
 2   host_response_rate              10575 non-null  object
 3   host_acceptance_rate            11179 non-null  object
 4   host_is_superhost               14363 non-null  object
 5   host_listings_count             14366 non-null  float64
 6   host_total_listings_count       14366 non-null  float64
 7   neighbourhood_cleansed          14368 non-null  int64
 8   latitude                        14368 non-null  float64
 9   longitude                       14368 non-null  float64
 10  accommodates                    14368 non-null  int64
 11  bedrooms                        13607 non-null  float64
 12  beds                            14351 non-null  float64
 13  minimum_nights                  14368 non-null  int64
 14  maximum_nights                  14368 non-null  int64
 15  minimum_minimum_nights          14367 non-null  float64
 16  maximum_minimum_nights          14367 non-null  float64
 17  minimum_maximum_nights          14367 non-null  float64
 18  maximum_maximum_nights          14367 non-null  float64
 19  minimum_nights_avg_ntm          14367 non-null  float64
 20  maximum_nights_avg_ntm          14367 non-null  float64
 21  availability_30                 14368 non-null  int64
 22  availability_60                 14368 non-null  int64
 23  availability_90                 14368 non-null  int64
 24  availability_365                14368 non-null  int64
 25  number_of_reviews               14368 non-null  int64
 26  number_of_reviews_ltm           14368 non-null  int64
 27  number_of_reviews_l30d          14368 non-null  int64
 28  review_scores_rating            11337 non-null  float64
 29  review_scores_accuracy          11269 non-null  float64
 30  review_scores_cleanliness       11269 non-null  float64
 31  review_scores_checkin           11268 non-null  float64
 32  review_scores_communication     11269 non-null  float64
 33  review_scores_value             11267 non-null  float64
 34  instant_bookable                14368 non-null  object
 35  reviews_per_month               11337 non-null  float64
 36  host_since                      14366 non-null  object
 37  room_type                       14368 non-null  object
 38  property_type_num               14368 non-null  int64
 39  Number of Amenities             14368 non-null  int64
 40  Smoke alarm                     14368 non-null  int64
 41  Kitchen                         14368 non-null  int64
 42  Wifi                            14368 non-null  int64
 43  Essentials                      14368 non-null  int64
 44  Free parking on premises        14368 non-null  int64
 45  Carbon monoxide alarm           14368 non-null  int64
 46  Hair dryer                      14368 non-null  int64
 47  Hangers                         14368 non-null  int64
 48  Fire extinguisher               14368 non-null  int64
 49  Iron                            14368 non-null  int64
 50  Shampoo                         14368 non-null  int64
 51  Dishes and silverware           14368 non-null  int64
 52  Hot water                       14368 non-null  int64
 53  Refrigerator                    14368 non-null  int64
 54  Heating                         14368 non-null  int64
 55  Air conditioning                14368 non-null  int64
 56  Cooking basics                  14368 non-null  int64
 57  Microwave                       14368 non-null  int64
 58  Self check-in                   14368 non-null  int64
 59  Bed linens                      14368 non-null  int64
 60  First aid kit                   14368 non-null  int64
 61  Washer                          14368 non-null  int64
 62  Dedicated workspace             14368 non-null  int64
 63  Dishwasher                      14368 non-null  int64
 64  TV                              14368 non-null  int64
 65  Private entrance                14368 non-null  int64
 66  Extra pillows and blankets      14368 non-null  int64
 67  Free street parking             14368 non-null  int64
 68  Coffee maker                    14368 non-null  int64
 69  Oven                            14368 non-null  int64
 70  latitudesq                      14368 non-null  float64
 71  longitudesq                     14368 non-null  float64
 72  t_cap                           14368 non-null  float64
 73  barton_springs                  14368 non-null  float64
 74  bullock                         14368 non-null  float64
 75  congress_bridge                 14368 non-null  float64
 76  zilker                          14368 non-null  float64
 77  ut_tower                        14368 non-null  float64
 78  dkr_stadium                     14368 non-null  float64
 79  mex_arte                        14368 non-null  float64
 80  mckinney                        14368 non-null  float64
 81  umlauf                          14368 non-null  float64
 82  bonnell                         14368 non-null  float64
 83  museum_weird                    14368 non-null  float64
 84  review_score_location_original  11267 non-null  float64
 85  review_scores_location          14368 non-null  float64
dtypes: float64(35), int64(45), object(6)
memory usage: 9.5+ MB

In [508]:
import datetime

In [509]:
# Remove unnecesary characters
# Cleaning object Dtypes into float64

# Remove '%' character from host_response_rate column and convert to a float
inside_air_listing_loc_merge['host_response_rate'] = inside_air_listing_loc_merge['host_response_rate'].str.replace('%','')
inside_air_listing_loc_merge['host_response_rate'] = inside_air_listing_loc_merge['host_response_rate'].astype(float)

# Remove '%' character from host_acceptance_rate column and convert to a float
inside_air_listing_loc_merge['host_acceptance_rate'] = inside_air_listing_loc_merge['host_acceptance_rate'].str.replace('%','')
inside_air_listing_loc_merge['host_acceptance_rate'] = inside_air_listing_loc_merge['host_acceptance_rate'].astype(float)

# Replace 't' and 'f' characters to 1 and 0 from host_is_superhost column and convert to a float
inside_air_listing_loc_merge['host_is_superhost'] = inside_air_listing_loc_merge['host_is_superhost'].str.replace('t','1')
inside_air_listing_loc_merge['host_is_superhost'] = inside_air_listing_loc_merge['host_is_superhost'].str.replace('f','0')
inside_air_listing_loc_merge['host_is_superhost'] = inside_air_listing_loc_merge['host_is_superhost'].astype(float)

# Replace 't' and 'f' characters to 1 and 0 from instant_bookable column and convert to a float
inside_air_listing_loc_merge['instant_bookable'] = inside_air_listing_loc_merge['instant_bookable'].str.replace('t','1')
inside_air_listing_loc_merge['instant_bookable'] = inside_air_listing_loc_merge['instant_bookable'].str.replace('f','0')
inside_air_listing_loc_merge['instant_bookable'] = inside_air_listing_loc_merge['instant_bookable'].astype(float)

# Convert the date an Airbnb host joined into a numerical value of days
inside_air_listing_loc_merge['host_since'] = pd.to_datetime(inside_air_listing_loc_merge['host_since'])
inside_air_listing_loc_merge['host_since'] = datetime.datetime.now() - inside_air_listing_loc_merge['host_since']
inside_air_listing_loc_merge['host_since'] = inside_air_listing_loc_merge['host_since'].dt.days

inside_air_listing_loc_merge = pd.get_dummies(inside_air_listing_loc_merge, columns=['room_type'], drop_first=True)

inside_air_listing_loc_merge

,id,host_id,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,neighbourhood_cleansed,latitude,longitude,...,mex_arte,mckinney,umlauf,bonnell,museum_weird,review_score_location_original,review_scores_location,room_type_Hotel room,room_type_Private room,room_type_Shared room
0,5456,8028,100.0,95.0,1.0,2.0,4.0,78702,30.260570,-97.734410,...,1.068293,7.518350,3.078306,7.736014,0.842357,4.73,4.730,0,0,0
1,5769,8186,100.0,95.0,1.0,1.0,4.0,78729,30.456970,-97.784220,...,21.437543,29.790235,21.517583,15.019458,21.489800,4.76,4.760,0,1,0
2,6413,13879,NaN,100.0,1.0,1.0,1.0,78704,30.248850,-97.735870,...,2.114043,6.255722,3.341911,8.841143,2.050248,4.87,4.870,0,0,0
3,6448,14156,100.0,100.0,1.0,1.0,2.0,78704,30.260340,-97.764870,...,2.255989,8.392934,0.373538,6.861699,2.626745,4.97,4.970,0,0,0
4,8502,25298,60.0,70.0,0.0,1.0,1.0,78741,30.234660,-97.736820,...,3.626637,4.738443,4.269364,10.269241,3.609392,4.64,4.640,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14363,847159076072987428,276920863,95.0,100.0,0.0,43.0,88.0,78705,30.289220,-97.747269,...,2.505015,10.858465,3.384552,4.376586,2.577955,NaN,4.896,0,0,0
14364,847171709264672413,276920863,95.0,100.0,0.0,43.0,88.0,78705,30.290238,-97.748501,...,2.638627,10.993428,3.419499,4.216769,2.723711,NaN,4.610,0,0,0
14365,847178203609366885,276920863,95.0,100.0,0.0,43.0,88.0,78705,30.287227,-97.726643,...,2.725863,10.412841,4.628229,5.875228,2.508800,NaN,4.387,0,0,0
14366,847256590826352221,499116561,100.0,100.0,0.0,2.0,2.0,78734,30.381710,-97.952860,...,23.880038,30.325022,22.224331,18.531970,24.192330,NaN,4.844,0,0,0
14367,847304715126157738,243684594,98.0,96.0,0.0,68.0,128.0,78741,30.239426,-97.723503,...,3.569462,5.111990,4.901363,10.298447,3.407719,NaN,4.716,0,0,0

In [510]:
inside_air_listing_loc_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14368 entries, 0 to 14367
Data columns (total 88 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14368 non-null  int64
 1   host_id                         14368 non-null  int64
 2   host_response_rate              10575 non-null  float64
 3   host_acceptance_rate            11179 non-null  float64
 4   host_is_superhost               14363 non-null  float64
 5   host_listings_count             14366 non-null  float64
 6   host_total_listings_count       14366 non-null  float64
 7   neighbourhood_cleansed          14368 non-null  int64
 8   latitude                        14368 non-null  float64
 9   longitude                       14368 non-null  float64
 10  accommodates                    14368 non-null  int64
 11  bedrooms                        13607 non-null  float64
 12  beds                            14351 non-null  float64
 13  minimum_nights                  14368 non-null  int64
 14  maximum_nights                  14368 non-null  int64
 15  minimum_minimum_nights          14367 non-null  float64
 16  maximum_minimum_nights          14367 non-null  float64
 17  minimum_maximum_nights          14367 non-null  float64
 18  maximum_maximum_nights          14367 non-null  float64
 19  minimum_nights_avg_ntm          14367 non-null  float64
 20  maximum_nights_avg_ntm          14367 non-null  float64
 21  availability_30                 14368 non-null  int64
 22  availability_60                 14368 non-null  int64
 23  availability_90                 14368 non-null  int64
 24  availability_365                14368 non-null  int64
 25  number_of_reviews               14368 non-null  int64
 26  number_of_reviews_ltm           14368 non-null  int64
 27  number_of_reviews_l30d          14368 non-null  int64
 28  review_scores_rating            11337 non-null  float64
 29  review_scores_accuracy          11269 non-null  float64
 30  review_scores_cleanliness       11269 non-null  float64
 31  review_scores_checkin           11268 non-null  float64
 32  review_scores_communication     11269 non-null  float64
 33  review_scores_value             11267 non-null  float64
 34  instant_bookable                14368 non-null  float64
 35  reviews_per_month               11337 non-null  float64
 36  host_since                      14366 non-null  float64
 37  property_type_num               14368 non-null  int64
 38  Number of Amenities             14368 non-null  int64
 39  Smoke alarm                     14368 non-null  int64
 40  Kitchen                         14368 non-null  int64
 41  Wifi                            14368 non-null  int64
 42  Essentials                      14368 non-null  int64
 43  Free parking on premises        14368 non-null  int64
 44  Carbon monoxide alarm           14368 non-null  int64
 45  Hair dryer                      14368 non-null  int64
 46  Hangers                         14368 non-null  int64
 47  Fire extinguisher               14368 non-null  int64
 48  Iron                            14368 non-null  int64
 49  Shampoo                         14368 non-null  int64
 50  Dishes and silverware           14368 non-null  int64
 51  Hot water                       14368 non-null  int64
 52  Refrigerator                    14368 non-null  int64
 53  Heating                         14368 non-null  int64
 54  Air conditioning                14368 non-null  int64
 55  Cooking basics                  14368 non-null  int64
 56  Microwave                       14368 non-null  int64
 57  Self check-in                   14368 non-null  int64
 58  Bed linens                      14368 non-null  int64
 59  First aid kit                   14368 non-null  int64
 60  Washer                          14368 non-null  int64
 61  Dedicated workspace             14368 non-null  int64
 62  Dishwasher                      14368 non-null  int64
 63  TV                              14368 non-null  int64
 64  Private entrance                14368 non-null  int64
 65  Extra pillows and blankets      14368 non-null  int64
 66  Free street parking             14368 non-null  int64
 67  Coffee maker                    14368 non-null  int64
 68  Oven                            14368 non-null  int64
 69  latitudesq                      14368 non-null  float64
 70  longitudesq                     14368 non-null  float64
 71  t_cap                           14368 non-null  float64
 72  barton_springs                  14368 non-null  float64
 73  bullock                         14368 non-null  float64
 74  congress_bridge                 14368 non-null  float64
 75  zilker                          14368 non-null  float64
 76  ut_tower                        14368 non-null  float64
 77  dkr_stadium                     14368 non-null  float64
 78  mex_arte                        14368 non-null  float64
 79  mckinney                        14368 non-null  float64
 80  umlauf                          14368 non-null  float64
 81  bonnell                         14368 non-null  float64
 82  museum_weird                    14368 non-null  float64
 83  review_score_location_original  11267 non-null  float64
 84  review_scores_location          14368 non-null  float64
 85  room_type_Hotel room            14368 non-null  uint8
 86  room_type_Private room          14368 non-null  uint8
 87  room_type_Shared room           14368 non-null  uint8
dtypes: float64(40), int64(45), uint8(3)
memory usage: 9.5 MB

# Listings.csv Preprocessing: Reviews NaNs

In [511]:
# extract reviews related columns
# Initial step is to add a column to show if means of review scores were appended
revs_df = inside_air_listing_loc_merge[['host_id', 'review_scores_rating', 'review_scores_accuracy',
          'review_scores_cleanliness', 'review_scores_checkin','review_scores_communication',
                                    'review_scores_value', 'reviews_per_month']]

In [512]:
revs_df

,host_id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_value,reviews_per_month
0,8028,4.84,4.88,4.85,4.89,4.82,4.79,3.69
1,8186,4.90,4.90,4.86,4.91,4.94,4.92,1.75
2,13879,4.97,4.99,4.99,4.99,4.98,4.93,0.76
3,14156,4.97,4.97,4.96,4.99,4.97,4.90,2.10
4,25298,4.53,4.49,4.67,4.83,4.86,4.57,0.30
...,...,...,...,...,...,...,...,...
14363,276920863,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14364,276920863,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14365,276920863,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14366,499116561,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14367,243684594,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [513]:
print("Total NaN values:\n", revs_df.isna().sum())

Total NaN values:
 host_id                           0
review_scores_rating           3031
review_scores_accuracy         3099
review_scores_cleanliness      3099
review_scores_checkin          3100
review_scores_communication    3099
review_scores_value            3101
reviews_per_month              3031
dtype: int64

In [514]:
# Disclaimer the amount of NaNs is not consistent over all review scores.
revs_df['semi_interpolated_reviews'] = 0

revs_df.loc[(revs_df['review_scores_rating'].isna()) | (revs_df['review_scores_accuracy'].isna()) | (revs_df['review_scores_cleanliness'].isna()) | (revs_df['review_scores_checkin'].isna()) | (revs_df['review_scores_communication'].isna()) | (revs_df['review_scores_value'].isna()) | (revs_df['reviews_per_month'].isna()), 'semi_interpolated_reviews'] = 1

C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\342089398.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revs_df['semi_interpolated_reviews'] = 0

In [515]:
# Fill the NaN values in each column of  with the mean of the corresponding 'host_id'
revs_df_filled = revs_df.groupby('host_id').transform(lambda x: x.fillna(x.mean()))

In [516]:
print("Total NaN values:\n", revs_df_filled.isna().sum())

Total NaN values:
 review_scores_rating           1831
review_scores_accuracy         1893
review_scores_cleanliness      1893
review_scores_checkin          1894
review_scores_communication    1893
review_scores_value            1895
reviews_per_month              1831
semi_interpolated_reviews         0
dtype: int64

In [517]:
revs_df_filled

,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_value,reviews_per_month,semi_interpolated_reviews
0,4.840000,4.880000,4.850000,4.890000,4.820000,4.790000,3.690000,0
1,4.900000,4.900000,4.860000,4.910000,4.940000,4.920000,1.750000,0
2,4.970000,4.990000,4.990000,4.990000,4.980000,4.930000,0.760000,0
3,4.970000,4.970000,4.960000,4.990000,4.970000,4.900000,2.100000,0
4,4.530000,4.490000,4.670000,4.830000,4.860000,4.570000,0.300000,0
...,...,...,...,...,...,...,...,...
14363,4.139231,4.221154,4.063846,4.376538,4.329615,4.282308,2.401154,1
14364,4.139231,4.221154,4.063846,4.376538,4.329615,4.282308,2.401154,1
14365,4.139231,4.221154,4.063846,4.376538,4.329615,4.282308,2.401154,1
14366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
14367,4.748475,4.780000,4.826610,4.764746,4.877119,4.705254,2.320847,1

In [518]:
# Create a copy of revs_df to avoid the SettingWithCopyWarning
revs_df_copy = revs_df.copy()

In [519]:
# Update the DataFrame 'revs_df' with the new data revs_df_filled
revs_df_copy.loc[:, revs_df_filled.columns] = revs_df_filled

In [520]:
print("Total NaN values:\n", revs_df_copy.isna().sum())

Total NaN values:
 host_id                           0
review_scores_rating           1831
review_scores_accuracy         1893
review_scores_cleanliness      1893
review_scores_checkin          1894
review_scores_communication    1893
review_scores_value            1895
reviews_per_month              1831
semi_interpolated_reviews         0
dtype: int64

In [521]:
print(revs_df_copy.shape)
revs_df_copy.head(10)

(14368, 9)

,host_id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_value,reviews_per_month,semi_interpolated_reviews
0,8028,4.84,4.88,4.85,4.89,4.82,4.79,3.69,0
1,8186,4.90,4.90,4.86,4.91,4.94,4.92,1.75,0
2,13879,4.97,4.99,4.99,4.99,4.98,4.93,0.76,0
3,14156,4.97,4.97,4.96,4.99,4.97,4.90,2.10,0
4,25298,4.53,4.49,4.67,4.83,4.86,4.57,0.30,0
5,50793,5.00,4.94,4.94,5.00,5.00,4.94,0.12,0
6,39458,5.00,5.00,5.00,5.00,5.00,4.50,0.42,0
7,56488,4.94,5.00,4.98,5.00,5.00,4.86,0.32,0
8,89031,4.91,4.93,4.97,4.96,4.90,4.82,1.05,0
9,8028,4.84,4.88,4.85,4.89,4.82,4.79,3.69,1

In [522]:
# Fill remaining NaN values with the median of each column
revs_df_copy = revs_df_copy.fillna(revs_df_copy.median())

# option to add a column for a missing reviews - a zero or one to indicate if corrective measures were taken for a given listing
# do so before the review scores correcting just above ^

In [523]:
print("Total NaN values:\n", revs_df_copy.isna().sum())

Total NaN values:
 host_id                        0
review_scores_rating           0
review_scores_accuracy         0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_value            0
reviews_per_month              0
semi_interpolated_reviews      0
dtype: int64

In [524]:
# Update the original DataFrame 'orginal_df' with the new data 'revs_df_copy'
inside_air_listing_loc_merge.loc[:, revs_df_copy.columns] = revs_df_copy

C:\Users\sam23\AppData\Local\Temp\ipykernel_7036\1168650930.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  inside_air_listing_loc_merge.loc[:, revs_df_copy.columns] = revs_df_copy

In [525]:
# reviews related columns should have values closer to 14,368
inside_air_listing_loc_merge.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14368 entries, 0 to 14367
Data columns (total 89 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14368 non-null  int64
 1   host_id                         14368 non-null  int64
 2   host_response_rate              10575 non-null  float64
 3   host_acceptance_rate            11179 non-null  float64
 4   host_is_superhost               14363 non-null  float64
 5   host_listings_count             14366 non-null  float64
 6   host_total_listings_count       14366 non-null  float64
 7   neighbourhood_cleansed          14368 non-null  int64
 8   latitude                        14368 non-null  float64
 9   longitude                       14368 non-null  float64
 10  accommodates                    14368 non-null  int64
 11  bedrooms                        13607 non-null  float64
 12  beds                            14351 non-null  float64
 13  minimum_nights                  14368 non-null  int64
 14  maximum_nights                  14368 non-null  int64
 15  minimum_minimum_nights          14367 non-null  float64
 16  maximum_minimum_nights          14367 non-null  float64
 17  minimum_maximum_nights          14367 non-null  float64
 18  maximum_maximum_nights          14367 non-null  float64
 19  minimum_nights_avg_ntm          14367 non-null  float64
 20  maximum_nights_avg_ntm          14367 non-null  float64
 21  availability_30                 14368 non-null  int64
 22  availability_60                 14368 non-null  int64
 23  availability_90                 14368 non-null  int64
 24  availability_365                14368 non-null  int64
 25  number_of_reviews               14368 non-null  int64
 26  number_of_reviews_ltm           14368 non-null  int64
 27  number_of_reviews_l30d          14368 non-null  int64
 28  review_scores_rating            14368 non-null  float64
 29  review_scores_accuracy          14368 non-null  float64
 30  review_scores_cleanliness       14368 non-null  float64
 31  review_scores_checkin           14368 non-null  float64
 32  review_scores_communication     14368 non-null  float64
 33  review_scores_value             14368 non-null  float64
 34  instant_bookable                14368 non-null  float64
 35  reviews_per_month               14368 non-null  float64
 36  host_since                      14366 non-null  float64
 37  property_type_num               14368 non-null  int64
 38  Number of Amenities             14368 non-null  int64
 39  Smoke alarm                     14368 non-null  int64
 40  Kitchen                         14368 non-null  int64
 41  Wifi                            14368 non-null  int64
 42  Essentials                      14368 non-null  int64
 43  Free parking on premises        14368 non-null  int64
 44  Carbon monoxide alarm           14368 non-null  int64
 45  Hair dryer                      14368 non-null  int64
 46  Hangers                         14368 non-null  int64
 47  Fire extinguisher               14368 non-null  int64
 48  Iron                            14368 non-null  int64
 49  Shampoo                         14368 non-null  int64
 50  Dishes and silverware           14368 non-null  int64
 51  Hot water                       14368 non-null  int64
 52  Refrigerator                    14368 non-null  int64
 53  Heating                         14368 non-null  int64
 54  Air conditioning                14368 non-null  int64
 55  Cooking basics                  14368 non-null  int64
 56  Microwave                       14368 non-null  int64
 57  Self check-in                   14368 non-null  int64
 58  Bed linens                      14368 non-null  int64
 59  First aid kit                   14368 non-null  int64
 60  Washer                          14368 non-null  int64
 61  Dedicated workspace             14368 non-null  int64
 62  Dishwasher                      14368 non-null  int64
 63  TV                              14368 non-null  int64
 64  Private entrance                14368 non-null  int64
 65  Extra pillows and blankets      14368 non-null  int64
 66  Free street parking             14368 non-null  int64
 67  Coffee maker                    14368 non-null  int64
 68  Oven                            14368 non-null  int64
 69  latitudesq                      14368 non-null  float64
 70  longitudesq                     14368 non-null  float64
 71  t_cap                           14368 non-null  float64
 72  barton_springs                  14368 non-null  float64
 73  bullock                         14368 non-null  float64
 74  congress_bridge                 14368 non-null  float64
 75  zilker                          14368 non-null  float64
 76  ut_tower                        14368 non-null  float64
 77  dkr_stadium                     14368 non-null  float64
 78  mex_arte                        14368 non-null  float64
 79  mckinney                        14368 non-null  float64
 80  umlauf                          14368 non-null  float64
 81  bonnell                         14368 non-null  float64
 82  museum_weird                    14368 non-null  float64
 83  review_score_location_original  11267 non-null  float64
 84  review_scores_location          14368 non-null  float64
 85  room_type_Hotel room            14368 non-null  uint8
 86  room_type_Private room          14368 non-null  uint8
 87  room_type_Shared room           14368 non-null  uint8
 88  semi_interpolated_reviews       14368 non-null  int64
dtypes: float64(40), int64(46), uint8(3)
memory usage: 9.6 MB

In [526]:
inside_air_listing_loc_merge.isnull().sum().to_dict()

{'id': 0,
 'host_id': 0,
 'host_response_rate': 3793,
 'host_acceptance_rate': 3189,
 'host_is_superhost': 5,
 'host_listings_count': 2,
 'host_total_listings_count': 2,
 'neighbourhood_cleansed': 0,
 'latitude': 0,
 'longitude': 0,
 'accommodates': 0,
 'bedrooms': 761,
 'beds': 17,
 'minimum_nights': 0,
 'maximum_nights': 0,
 'minimum_minimum_nights': 1,
 'maximum_minimum_nights': 1,
 'minimum_maximum_nights': 1,
 'maximum_maximum_nights': 1,
 'minimum_nights_avg_ntm': 1,
 'maximum_nights_avg_ntm': 1,
 'availability_30': 0,
 'availability_60': 0,
 'availability_90': 0,
 'availability_365': 0,
 'number_of_reviews': 0,
 'number_of_reviews_ltm': 0,
 'number_of_reviews_l30d': 0,
 'review_scores_rating': 0,
 'review_scores_accuracy': 0,
 'review_scores_cleanliness': 0,
 'review_scores_checkin': 0,
 'review_scores_communication': 0,
 'review_scores_value': 0,
 'instant_bookable': 0,
 'reviews_per_month': 0,
 'host_since': 2,
 'property_type_num': 0,
 'Number of Amenities': 0,
 'Smoke alarm': 0,
 'Kitchen': 0,
 'Wifi': 0,
 'Essentials': 0,
 'Free parking on premises': 0,
 'Carbon monoxide alarm': 0,
 'Hair dryer': 0,
 'Hangers': 0,
 'Fire extinguisher': 0,
 'Iron': 0,
 'Shampoo': 0,
 'Dishes and silverware': 0,
 'Hot water': 0,
 'Refrigerator': 0,
 'Heating': 0,
 'Air conditioning': 0,
 'Cooking basics': 0,
 'Microwave': 0,
 'Self check-in': 0,
 'Bed linens': 0,
 'First aid kit': 0,
 'Washer': 0,
 'Dedicated workspace': 0,
 'Dishwasher': 0,
 'TV': 0,
 'Private entrance': 0,
 'Extra pillows and blankets': 0,
 'Free street parking': 0,
 'Coffee maker': 0,
 'Oven': 0,
 'latitudesq': 0,
 'longitudesq': 0,
 't_cap': 0,
 'barton_springs': 0,
 'bullock': 0,
 'congress_bridge': 0,
 'zilker': 0,
 'ut_tower': 0,
 'dkr_stadium': 0,
 'mex_arte': 0,
 'mckinney': 0,
 'umlauf': 0,
 'bonnell': 0,
 'museum_weird': 0,
 'review_score_location_original': 3101,
 'review_scores_location': 0,
 'room_type_Hotel room': 0,
 'room_type_Private room': 0,
 'room_type_Shared room': 0,
 'semi_interpolated_reviews': 0}

In [527]:
# Drop Unwanted Columns

columns_to_remove = ['host_response_rate', 'host_acceptance_rate', 'review_score_location_original']
# columns_to_remove = ['id', 'host_id', 'host_response_rate', 'host_acceptance_rate']
inside_air_listing_loc_merge = inside_air_listing_loc_merge.drop(columns=columns_to_remove)

In [528]:
inside_air_listing_loc_merge

,id,host_id,host_is_superhost,host_listings_count,host_total_listings_count,neighbourhood_cleansed,latitude,longitude,accommodates,bedrooms,...,mex_arte,mckinney,umlauf,bonnell,museum_weird,review_scores_location,room_type_Hotel room,room_type_Private room,room_type_Shared room,semi_interpolated_reviews
0,5456,8028,1.0,2.0,4.0,78702,30.260570,-97.734410,3,1.0,...,1.068293,7.518350,3.078306,7.736014,0.842357,4.730,0,0,0,0
1,5769,8186,1.0,1.0,4.0,78729,30.456970,-97.784220,2,1.0,...,21.437543,29.790235,21.517583,15.019458,21.489800,4.760,0,1,0,0
2,6413,13879,1.0,1.0,1.0,78704,30.248850,-97.735870,2,NaN,...,2.114043,6.255722,3.341911,8.841143,2.050248,4.870,0,0,0,0
3,6448,14156,1.0,1.0,2.0,78704,30.260340,-97.764870,2,1.0,...,2.255989,8.392934,0.373538,6.861699,2.626745,4.970,0,0,0,0
4,8502,25298,0.0,1.0,1.0,78741,30.234660,-97.736820,2,1.0,...,3.626637,4.738443,4.269364,10.269241,3.609392,4.640,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14363,847159076072987428,276920863,0.0,43.0,88.0,78705,30.289220,-97.747269,10,4.0,...,2.505015,10.858465,3.384552,4.376586,2.577955,4.896,0,0,0,1
14364,847171709264672413,276920863,0.0,43.0,88.0,78705,30.290238,-97.748501,2,NaN,...,2.638627,10.993428,3.419499,4.216769,2.723711,4.610,0,0,0,1
14365,847178203609366885,276920863,0.0,43.0,88.0,78705,30.287227,-97.726643,5,2.0,...,2.725863,10.412841,4.628229,5.875228,2.508800,4.387,0,0,0,1
14366,847256590826352221,499116561,0.0,2.0,2.0,78734,30.381710,-97.952860,6,2.0,...,23.880038,30.325022,22.224331,18.531970,24.192330,4.844,0,0,0,1
14367,847304715126157738,243684594,0.0,68.0,128.0,78741,30.239426,-97.723503,5,1.0,...,3.569462,5.111990,4.901363,10.298447,3.407719,4.716,0,0,0,1

# Listings.csv Preprocessing: NaN Values

In [529]:
'''
There are a significant amount of NaN values in the dataframe. Without any other precautions, 
a .dropna() run drops the amount of listings from 14,368 to 8,271.

Note: We need to put some thought into how we account for some of the NaN values as it almost cuts
the dataframe in half. 
'''

'\nThere are a significant amount of NaN values in the dataframe. Without any other precautions, \na .dropna() run drops the amount of listings from 14,368 to 8,271.\n\nNote: We need to put some thought into how we account for some of the NaN values as it almost cuts\nthe dataframe in half. \n'

In [531]:
# For "bedrooms" column, it was found that all the NaN occurences were when the airbnb was a studio.
# To remedy this, all the NaNs are replaced with a zero value.

studio_bed = 0

inside_air_listing_loc_merge['bedrooms'].fillna(studio_bed, inplace=True)

In [532]:
# Final check for leftover NaN values. Drop NaN if the counts are insignificant.
inside_air_listing_loc_merge.isnull().sum().to_dict()

{'id': 0,
 'host_id': 0,
 'host_is_superhost': 5,
 'host_listings_count': 2,
 'host_total_listings_count': 2,
 'neighbourhood_cleansed': 0,
 'latitude': 0,
 'longitude': 0,
 'accommodates': 0,
 'bedrooms': 0,
 'beds': 17,
 'minimum_nights': 0,
 'maximum_nights': 0,
 'minimum_minimum_nights': 1,
 'maximum_minimum_nights': 1,
 'minimum_maximum_nights': 1,
 'maximum_maximum_nights': 1,
 'minimum_nights_avg_ntm': 1,
 'maximum_nights_avg_ntm': 1,
 'availability_30': 0,
 'availability_60': 0,
 'availability_90': 0,
 'availability_365': 0,
 'number_of_reviews': 0,
 'number_of_reviews_ltm': 0,
 'number_of_reviews_l30d': 0,
 'review_scores_rating': 0,
 'review_scores_accuracy': 0,
 'review_scores_cleanliness': 0,
 'review_scores_checkin': 0,
 'review_scores_communication': 0,
 'review_scores_value': 0,
 'instant_bookable': 0,
 'reviews_per_month': 0,
 'host_since': 2,
 'property_type_num': 0,
 'Number of Amenities': 0,
 'Smoke alarm': 0,
 'Kitchen': 0,
 'Wifi': 0,
 'Essentials': 0,
 'Free parking on premises': 0,
 'Carbon monoxide alarm': 0,
 'Hair dryer': 0,
 'Hangers': 0,
 'Fire extinguisher': 0,
 'Iron': 0,
 'Shampoo': 0,
 'Dishes and silverware': 0,
 'Hot water': 0,
 'Refrigerator': 0,
 'Heating': 0,
 'Air conditioning': 0,
 'Cooking basics': 0,
 'Microwave': 0,
 'Self check-in': 0,
 'Bed linens': 0,
 'First aid kit': 0,
 'Washer': 0,
 'Dedicated workspace': 0,
 'Dishwasher': 0,
 'TV': 0,
 'Private entrance': 0,
 'Extra pillows and blankets': 0,
 'Free street parking': 0,
 'Coffee maker': 0,
 'Oven': 0,
 'latitudesq': 0,
 'longitudesq': 0,
 't_cap': 0,
 'barton_springs': 0,
 'bullock': 0,
 'congress_bridge': 0,
 'zilker': 0,
 'ut_tower': 0,
 'dkr_stadium': 0,
 'mex_arte': 0,
 'mckinney': 0,
 'umlauf': 0,
 'bonnell': 0,
 'museum_weird': 0,
 'review_scores_location': 0,
 'room_type_Hotel room': 0,
 'room_type_Private room': 0,
 'room_type_Shared room': 0,
 'semi_interpolated_reviews': 0}

In [545]:
# inside_air_listing_loc_merge.mean().to_dict()

In [546]:
inside_air_listing_final_dropna = inside_air_listing_loc_merge.dropna()

In [535]:
# Save to .csv for future usage.
inside_air_listing_final_dropna.to_csv('processed_listings.csv')